



.kontakt {
    padding: 5vh 7vw;
    border: 0;
}
.kontakt_box {
    grid-template-columns: auto auto;
    display: grid;
    grid-gap: 2em;
    width: 35vw;
    border: 0px;
    background-color: white;
}

.kontakt_box_element {
    text-align: left;
}

.kontakt_box_element input[type=text] {
    border: solid rgb(70, 70, 70) 2px;
    width: 100%;
    height: 2em;
    border-radius: 3px;
}

.kontakt_box_element textarea {
    border: solid rgb(70, 70, 70) 2px;
    width: 100%;
    height: 5.5em;
    border-radius: 3px;
    resize: vertical;
}

.kontakt_box_element input[type=text]:hover {
    border: solid rgb(90, 90, 90) 2px;
    transition-duration: 150ms;
}

.kontakt_box_element textarea:hover {
    border: solid rgb(90, 90, 90) 2px;
    transition-duration: 150ms;
}

/*.kontakt_box_element textarea:focus {
    border: solid rgb(134, 134, 134) 2px;
}*/

.ime {
    grid-column: 1;
    grid-row: 1;
}

.mejl {
    grid-column: 2;
    grid-row: 1;
}

.poruka {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.dugme {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.dugme input[type=submit] {
    background-color: rgb(70, 70, 70);
    padding: 1em;
    width: 40%;
    border: 0px;
    color:white;
    border-radius: 3px;
}

.dugme input[type=submit]:hover {
    background-color: rgb(90, 90, 90);
    transition-duration: 150ms;
}

.mapa {
    width: 100%;
    height: 40vh;
    border: 0;
}

.kontakt h1 {
    color: rgb(70, 70, 70);
    font-size: 30px;
}

.kontakt_box_element label {
    color: rgb(70, 70, 70);
}

.informacije div {
    width: 40vw;
    text-align: center;
}

.informacije a {
    color: darkorange;
    font-size: 30px;
    font-weight: 400;
}