

.kontakt_box {
    grid-template-columns: auto auto;
    display: grid;
    grid-gap: 2em;
    padding: 5vh 5vw;
    width:40vw;
    border: 0px;
    border-radius: 3em;
    background-color: white;

}

.kontakt_box_element {
    text-align: left;
}

.kontakt_box_element input[type=text] {
    border: solid rgb(70, 70, 70) 2px;
    width: 100%;
    height: 1.7em;
    border-radius: 3px;
}

.kontakt_box_element textarea {
    border: solid rgb(70, 70, 70) 2px;
    width: 100%;
    height: 5.1em;
    border-radius: 3px;
}

.kontakt_box_element input[type=text]:hover {
    border: solid rgb(100, 100, 100) 2px;
    transition-duration: 150ms;
}

.kontakt_box_element textarea:hover {
    border: solid rgb(100, 100, 100) 2px;
    transition-duration: 150ms;
}

/*.kontakt_box_element textarea:focus {
    border: solid rgb(134, 134, 134) 2px;
}*/

.ime {
    grid-column: 1;
    grid-row: 1;
}

.mejl {
    grid-column: 2;
    grid-row: 1;
}

.poruka {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.dugme {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.dugme input[type=submit] {
    background-color: rgb(60, 60, 60);
    padding: 1em;
    width: 40%;
    border: 0px;
    color:white;
    border-radius: 3px;
}

.dugme input[type=submit]:hover {
    background-color: rgb(100, 100, 100);
    transition-duration: 150ms;
}