body{
    display:grid;
    margin:0;
    
}



header{
    
    height:80px;
    width:100%;
    display:block;
    background-color:rgb(112, 79, 59);

    

    

    



}
.inner_header{


    width:100px;
}

