body{

    display:grid;
    margin:0;
    
}



header{

    height:100px;

    background-color:rgb(112, 79, 59);

    padding:0px;

    

}

.header_mali1{

    text-align: center;

    padding-top: 18px;

    padding-bottom: 18px;

}

.header_mali1:hover{

    border: 3px solid rgba(233, 240, 141, 0.288);

    border-radius: 15%;

}

.header_mali{

    text-align: center;

    padding-top: 18px;

    padding-bottom: 18px;

}

.header_mali:hover{

    border: 3px solid rgba(233, 240, 141, 0.288);

}

.banner{

    height:100%;
    
    text-align:center;
    
    width:20%;



}