@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    position: relative;
    min-height: 100vh;
}

header {

    position: relative;
    width:100%;
    height:80px;
    background-color:rgb(63, 63, 63);
    justify-content: space-between;
}

.logo {

    display:flex;
    align-items: center;
    color:white;
    gap:250px;
    margin-left:15px;
}

.flex {
    display:flex;
}

.logo img {
    height:80px;
}

.logo p {
    font-size:50px;
}

.meni {
    gap:4em;
    list-style: none;
}

.meni a {
    text-decoration:none;
    color:white;
    font-size:20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1.2em;
    margin: -1.2em; 
} 
.meni a:hover {
    color:white;
    transition-duration: 150ms;
    background-color:rgb(73, 73, 73);
}

.container {
    align-items:center;
}

.navigacija {
    margin-right:300px;
}

.dropbtn {
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 0em;
    position:static;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(63, 63, 63);
    min-width: 120px;
    z-index: 99999;
    padding: 20px;
    margin-top: 5px;
    padding-top: 45px;
}

.dropbtn:hover {
    color:white;
    transition-duration: 150ms;
    background-color:rgb(73, 73, 73);
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding-top: 30px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: rgb(175, 166, 166);
    color: rgb(15, 9, 9);
}
  
.dropdown:hover .dropdown-content {
    padding-top: 30px;
    padding-left: 12px;
    padding-bottom: 15px;
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: rgb(212, 175, 175);
}

.obrok_naslov {
    text-align: center;
    font-size: 60px;
    text-decoration: underline gray 5px;
}

.container1 {
    display:flex;
    align-items: top;
    justify-content: space-between;
    width:100%;
}

.slika_dorucak {
    padding: 30px;
    width: 50%;
}

.dorucak_obroci {
    padding-top: 70px;
    text-align: center;
    width: 50%;
}

.posveta {
    font-size: 15px;
    color: rgba(233, 152, 47, 0.993);
}

.cena {
    color: rgb(175, 112, 18);
    text-align: right;
    padding-right: 17px;
}

footer {
    z-index: 1000000;
    position:absolute;
    bottom:0px;
    height:50px;
    background-color:rgb(46, 46, 46);
    width:100%;
}

.container_f {
    position:relative;
    width:40%;
    color:white;
}

.pronadjite p {
    color:white;
    position:relative;
    left:4%;
}

.pronadjite {
    width:30%;
    justify-content: space-between;
}

.pronadjite h1 {
    text-align:center;
    color:white;
    margin-top:-2px;
}

.page_content {
    padding-bottom:50px;
    padding-top:50px;
}

.autori {
    width:40%;
    border-left:2px solid white;
    color:white;
}

.container_fut {
    justify-content: space-between;
    align-items:center;
}

.copyright {
    margin-left:30px;
    font-size:12px;
    bottom:0;
}